.comment-form, #comment-show {

  input{
    width: 450px;
    height: 33px;
    border-radius: 17px;
    box-sizing: border-box;
    border: 1px solid #dfe1e5;
    font-size: 13px;
    padding: 10px;
    margin-left: 3px
  }
  img {
    border: 1px solid #dfe1e5;
    background-color: white;
    height: 36px;
    width: 36px;
    margin-top: 7px;
  }
  strong {
    margin: 0 3px 0 0;
    display: inline;
    font-size: 13px;
    font-weight: 600;
    color: #4365af;
  }
  p {
    font-size: 13px;
    padding-left: 3px;
    padding-bottom: 1px;
    margin-bottom: 0;
  }
}

.comment-show-bottom {
  font-size: 13px;
  align-items: center;
}

#comment-show{
  align-items: flex-start;
  margin: 4px 0;
  &:first-of-type{
    margin-top: 0;
  }
  >i:first-child {
    font-size: 15px;
    right: 12px;
    &:hover {
      text-decoration: none;
    }
  }
}

#comment-nav {
  border: none;
  margin: 0;
  padding: 0;
  li {
    padding: 3px;
    color: #4365af;
    &:hover {
      cursor: pointer;
    }
    &:first-of-type {
      padding-left: 3px;
    }
    &:last-of-type {
      padding-right: 6px;
    }
  }
}

#comment-time:hover {
  text-decoration: underline;
  cursor: pointer;
}

#comment-time {
  >i {
    padding: 0;
    font-size: 13px;
  }
}

.comment-area {
  padding-top: 5px !important;
  background-color: #f6f7f9;
  border-top: 1px solid #dfe1e5;
  aside {
    position: absolute;
    color: white;
    background-color: #222222;
    border-radius: 4px;
    padding-bottom: 10px;
    padding-right: 8px;
    bottom: 11px;
    left: 19px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    width: 120px;
    h3 {
      margin: 0;
      padding: 7px;
      font-size: 14px;
      padding-bottom: 0;
    }
    ul {
      margin: 0;
      border-top: none;
      padding-top: 4px;
      >li {
        font-size: 13px;
      }
    }
  }
}

.nested-comment-list {
  padding: 0px 12px 6px 0px;
  margin-left: 52px;
  width: 450px;
  border-left: 2px solid #dddfe2;
}
