.main-header{
  height: 43px;
  background-color: #4365af;
  color: white;
  border-bottom: 1px solid black;
  box-sizing: border-box;
};

.main-header > div > div {
  position: relative;
}

#pseudo-logo {
  background-color: white;
  position: relative;
  color: #3b5998;
  height: 25px;
  width: 25px;
  border-radius: 2px;
  margin-left: 10px;
}

#pseudo-logo h1 {
  font-weight: 600;
  position: absolute;
  right: 4px;
  top: -3px;
  margin: 0;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 950px;
  margin: 0 auto;
}

.main-nav > div {
  align-items: center;
}

.main-nav ul {
  list-style: none;
  margin-right: 100px;
}

.main-nav li {
  padding: 0 15px;
}

.main-nav li:first-of-type{
  border-right: 1px solid #3c5b9d;
}

.main-nav h2{
  font-weight: 400;
  font-size: 13px;
  padding: 0;
}

.main-nav a{
  text-decoration: none;
}
