.post-form{
  position: relative;
  background-color: white;
  width: 500px;
  height: 155px;
  border-radius: 4px;
  border: 1px solid #dfe1e5;
  h2, div{
    font-size: 13px;
    font-weight: 600;
    color: #4b4f56;
    background-color: #f6f7f9;
    padding: 8px;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #dfe1e5;
  }
  div {
    padding: 3px;
    border-radius: 0;
    border-bottom: none;
    border-top: 1px solid #dfe1e5;
    height: 31px;
    border-radius: 0 0 4px 4px;
  }
  textarea {
    height: 81px;
    width: 454px;
    border: none;
    resize: none;
    position: relative;
    right: -43px;
    box-sizing: border-box;
    padding: 10px;
    padding-top: 15px;
    font-size: 14px;
    &:focus{
      outline:none;
    }
  }
  button {
    position: relative;
    bottom: 26px;
    right: -428px;;
    border: 1px solid #dfe1e5;
    background-color: #4365af;
    color: white;
    height: 25px;
    margin-right: 7px;
    font-weight: 400;
    padding: 5px 9px;
    font-size: 12px;
    border-radius: 3px;
    &:hover {
      cursor: pointer;
    }
  }
  img {
    top: 49px;
    left: 8px;
    border: 1px solid #dfe1e5;
  }
}

.post-show {
  position: relative;
  background-color: white;
  width: 500px;
  margin-top: 15px;
  border-radius: 4px;
  border: 1px solid #dfe1e5;
  &:first-of-type {
    margin-top: 0;
  }
  >div {
    padding: 11px;
  }
  img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }
  i {
    font-style: normal;
    font-size: 12px;
    padding: 0;
    margin: 0;
    color: #93949b;
    padding-left: 5px;
    &:hover{
      text-decoration: underline;
      cursor: pointer;
    }
  }
  h2 {
    margin: 0 6px 0 0;
    display: inline;
    font-size: 15px;
    font-weight: 600;
    color: #4365af;
    &:last-of-type {
      margin-left: 6px;
    }
  }
  p {
    padding: 0 16px;
    margin: 5px 0px;
    font-size: 15px;
  }
  ul {
    margin: 25px 6px 10px 2px;
    padding: 9px 0 0 0;
    list-style: none;
    border-top: 1px solid #e5e5e5;
    li {
      padding: 0 8px;
    }
  }
  a {
    text-decoration: none;
  }
  h3 {
    font-size: 15px;
    right: 20px;
    top: -5px;
    &:hover {
      cursor: pointer;
    }
  }
}

#post-dropdown {
  margin: 0;
  padding: 0;
  background-color: white;
  list-style: none;
  border-radius: 4px;
  border: 1px solid #dfe1e5;
  font-size: 11px;
  right: -466px;
  top: 25px;
  width: 78px;
  box-shadow: 2px 2px 5px #888888;
  li {
    padding: 7px 9px;
    &:hover {
      background-color: lightgrey;
      cursor: pointer;
    }
  }
}

#post-errors {
  position: absolute;
  background-color: #c81e2b;
  border-radius: 4px;
  color: white;
  right: 360px;
  bottom: 12px;
  z-index: 3;
  height: auto;
  box-shadow: 2px 2px 5px #888888;
  h5 {
    margin: 0;
    padding: 7px 10px;
  }
}

#post-edit {
  z-index: 4;
  left: -500px;
  height: 173px;
  h2 {
    display: block;
    margin: 0;
  }
  form {
    position: relative;
    bottom: -17px;
  }
  button {
    bottom: -2px;
  }
}

#post-nav {
  li {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  i {
    font-size: 17px;
    padding-right: 5px;
    &:hover {
      text-decoration: none;
    }
  }
}

.post-likes-show {
  margin: 0;
  >i {
    background-color: #598dfb;
    color: white;
    padding: 3px;
    border-radius: 50%;
    font-size: 10px;
    margin-right: 5px;
    margin: 6px 4px;
    &:hover {
      text-decoration: none;
      cursor: inherit;
    }
  }

}

.comments-likes-show {
  margin: 0;
  vertical-align: text-bottom;
  >i {
    background-color: #598dfb;
    color: white;
    padding: 3px;
    border-radius: 50%;
    font-size: 8px;
    margin: 0;
    &:hover {
      text-decoration: none;
      cursor: inherit;
    }
  }
  >h5 {
    margin: 6px;
    margin-left: 1px;
    font-size: 13px;
    font-weight: 600;
    color: #93949b;
  }
}

#upload-photo {
  position: relative;
  width: 64px;
  display: flex;
  flex-direction: row;
  background-color: white;
  align-items: center;
  height: auto;
  border-radius: 20px;
  padding: 5px 10px;
  margin-left: 5px;
  &:hover {
    cursor: pointer;
  }
  >label:hover {
    cursor: pointer;
  }
  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
  }
  &:hover {
     background-color: #dfe1e5;
  }
  i {
    color: #8abd53;
    font-size: 18px;
  }
  h3 {
    margin: 0;
    font-size: 13px;
    font-weight: 600;
    margin-left: 5px;
  }
}

#post-image {
  width: 475px;
  height: auto;
  margin: 0 12px;
  border: 1px solid #dfe1e5;
  border-radius: 2px;
}

#post-img-preview {
  position: absolute;
  width: auto;
  left: 423px;
  top: 43px;
  max-height: 59px;
  max-width: 67px;
}
