#profile-header {
  position: relative;
  width: 950px;
  height: 360px;
  background-color: green;
  margin: 0 auto;
  border: 1px solid #dfe1e5;
  border-top: 0;
  border-radius: 0 0 4px 4px;
}

#profile-header > h2 {
  font-weight: 300;
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px 4px rgba(black, 0.5);
  position: absolute;
  bottom: 60px;
  left: 215px;
}

#profile-header-nav {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  background-color: white;
  height: 45px;
  width: 100%;
  border-radius: 0 0 3px 3px;
  display: flex;
  align-items: center;
}

#profile-header-nav ul {
  position: absolute;
  right: 350px;
  margin: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  color: #385a97;
  font-weight: 600;
}

#profile-header-nav li {
  padding: 10px 20px;
  border-left: 1px solid #dfe1e5;
}

#profile-header-nav li:last-of-type {
  border-right: 1px solid #dfe1e5;
}

#profile-pic {
  box-sizing: border-box;
  border-style: double;
  border: 4px solid white;
  position: absolute;
  border-radius: 3px;
  bottom: 22px;
  left: 22px;
  background-color: yellow;
  width: 170px;
  height: 170px;
  z-index: 2;
}

#profile-pic:before {
  content: " ";
  position: absolute;
  z-index: 1;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border-radius: 3px;
  border: 1px solid #dfe1e5;
}
#profile-pic:after {
  content: " ";
  position: absolute;
  z-index: 2;
  top: -4px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 1px solid #b6b6b6;
  border-radius: 3px;
}

#profile-about {
  width: 322px;
  min-height: 200px;
  background-color: white;
  border: 1px solid #dfe1e5;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 15px;
}

#profile-about h2{
  font-size: 20px;
  font-weight: 400;
}

#profile-about li {
  font-size: 14px;
  font-weight: 300
}



.profile-body {
  width: 950px;
  margin: 0 auto;
  margin-top: 20px;
}
